<section class="tech-marquee-section">
  <div class="marquee-heading">
    <!-- <h2 class="heading-text">TECH STACK</h2> -->
  </div>
  <div class="marquee-container">
    <div class="marquee-ribbon">
      <div class="ribbon-content">
        <div class="tech-item">
          <img src="assets/logos/angularLogo.png" alt="Angular">
          <span>Angular</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/tsLogo.png" alt="TypeScript">
          <span>TypeScript</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/jsLogo.png" alt="JavaScript">
          <span>JavaScript</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/htmlLogo.png" alt="HTML5">
          <span>HTML5</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/phpLogo.png" alt="PHP">
          <span>PHP</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/mysqlLogo.png" alt="MySQL">
          <span>MySQL</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/gitLogo.png" alt="Git">
          <span>Git</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/bitbuckitLogo.png" alt="Bitbucket">
          <span>Bitbucket</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/jiraLogo.png" alt="Jira">
          <span>Jira</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/dbLogo.png" alt="Database">
          <span>Database</span>
        </div>
        <!-- Duplicate for seamless loop -->
        <div class="tech-item">
          <img src="assets/logos/angularLogo.png" alt="Angular">
          <span>Angular</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/tsLogo.png" alt="TypeScript">
          <span>TypeScript</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/jsLogo.png" alt="JavaScript">
          <span>JavaScript</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/htmlLogo.png" alt="HTML5">
          <span>HTML5</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/phpLogo.png" alt="PHP">
          <span>PHP</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/mysqlLogo.png" alt="MySQL">
          <span>MySQL</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/gitLogo.png" alt="Git">
          <span>Git</span>  
        </div>
        <div class="tech-item">
          <img src="assets/logos/bitbuckitLogo.png" alt="Bitbucket">
          <span>Bitbucket</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/jiraLogo.png" alt="Jira">
          <span>Jira</span>
        </div>
        <div class="tech-item">
          <img src="assets/logos/expressLogo.png" alt="Express">
          <span>Express</span>
        </div>
      </div>
    </div>
  </div>
</section>
